.title {
    display: flex;
    margin-left: 10px;
    color: #000;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    font-family: 'Inter', 'Arial', 'sans-serif';
}