.cart__ViberIcon {
    background-image: url(../../../../Image/Viber.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-left: 10px;
}